<div class="container-fluid text-center"  >
    <div class="row">
        <div class="mx-auto col-sm-6">


  <h1>Angular Login and Register Demo!</h1>

  <!-- <login></login> -->
  <!-- <nav>
      <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/login" routerLinkActive="active" >Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
          </li> 
          <li class="nav-item ">
              <a  class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li> -->
         
       <!-- </ul> -->
  <!-- </nav> -->
  </div>
  </div>
  
  <!-- routed views here -->
  <router-outlet></router-outlet> 
</div>